* { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 
}

.nav-container {
    display: flex;
    padding: 5px;
    flex: 1;
    gap: 10px;
}

  #header-logo {
      font-weight: bolder;
      display: flex;
      flex-direction: row;
      align-items: start;
    }
    
        .menu {
          flex-direction: row;
          align-items: end;

        }
    
    .menu-container {
      display: flex;
      margin-left: auto;
      gap: 10px;
    }
    
    nav {
      background-color: #1f2937;
      color: white;
    }
    
  
 
  #big-box1 {
      background-color: #1f2937;
      padding: 5px;
      height: 350px;
      color: white;
      display: flex;
      /* border: 5px solid red; */
  
    }
    
    #top-left-block {
      /* border: 3px solid red; */
      margin-left: 100px;
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 300px;
      justify-content: center;
    }
    /* .top-left-block-content {
      display: flex;
      flex-direction: row;
    } */

          #hero-main {
            color: #F9FAF8;
            font-weight: bolder;
            font-size: 40px;
            display: flex;
            margin-bottom: 10px;
          }

          #hero-2nd {
            font-size: 18px;
            color: #E5E7EB;
            display: flex;
            flex: 1;
            margin-top: auto;
            margin-bottom: 5px;
            
          }
          
          button {
            width: 100px;
            height: 30px;
            background-color: #3882F6;
            color: #F9FAF8;
            font-size: 15px;
            border-radius: 5px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            padding-left: 10px;
          }


      #img-placeholder {
        
        width: auto;
        margin: 30px;
        margin-right: 100px;
        border-radius: 10px;
        border: white 3px solid;

      }

    img {
      border-radius: 10px;
      width: 200px;
    }
  

#quote-box {
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: ligher;
    font-size: 20px;
    padding: 10px;
}

#hero-header {
    
}

#header-logo {
    font-weight: bolder;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
}

#big-box2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    align-items: center;
    padding-bottom: 20px;
}

.img-container {
  display: flex;
  gap: 10px;

}

#small-box {
    color: peachpuff;
    padding: 4px;
    height: 100px;
    width: 300px;
    display: flex;
    flex: 1;  
    border: 2px grey solid; 
    border-radius: 10px;
}

#top-menu {
   
    gap: 20px;

  
}

#top-header {
    margin-bottom: 10px;
}

#CTA {
    background-color: white;
    padding: 16px;
    display: flex;
    gap: 8px;
}