* { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 
}

.nav-container {
    display: flex;
    padding: 5px;
    flex: 1;
    gap: 10px;
}

#header-logo {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.menu {
    flex-direction: row;
    align-items: end;
    
  }

  .menu-container {
    display: flex;
    margin-left: auto;
    gap: 10px;
  }

  nav {
    background-color: #1f2937;
    color: white;
  }

#big-box1 {
    background-color: #1f2937;
    padding: 5px;
    height: 30%;
    color: white;
    display: flex;

  }

  #hero-main {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
  }

  #hero-2nd {
    font-size: 18px;
    color: #E5E7EB;
  }

  #top-left-block {
    border: white;
    width: 50%;
    margin-left: 10%;
    direction: flex;
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  #img-placeholder {
    background-color: grey;
    display: flex;
    flex: 1;
    margin: 30px;

  }

  button {
    width: 70px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    font-weight: bolder;
  }

#quote-box {
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: ligher;
    font-size: 36px;
}

#hero-header {
    
}

#header-logo {
    font-weight: bolder;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#big-box2 {
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    align-items: center;
}

.img-container {
  display: flex;
  gap: 10px;

}

#small-box {
    color: peachpuff;
    padding: 4px;
    height: 100px;
    width: 300px;
    display: flex;
    flex: 1;  
    border: 2px grey solid; 
    border-radius: 10px;
}

#top-menu {
   
    gap: 20px;

  
}

#top-header {
    margin-bottom: 10px;
}

#CTA {
    background-color: white;
    padding: 16px;
    display: flex;
    gap: 8px;
}